{{define "index/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <title>登录示例</title>
</head>
<body>
    <h1 style="text-align: center;">{{.title}}</h1>
    <form action="/login" id="pwd" enctype="multipart/form-data" method="post">
        <input type="text" hidden name="type" value="pwd">
        <div><span>账号：</span><input type="text" name="username" placeholder="请输入账号"></div>
        <div><span>密码：</span><input type="password" name="password" id=""></div>
        <div><span>验证码：</span><input type="text" maxlength="6" name="captcha"></div>
        <input type="text" hidden id="hid" name="hid">
        <img src="" id="captcha" alt="">
        <input type="submit" value="登录">
    </form>

{{/*    <form action="/login" id="captcha" enctype="multipart/form-data" method="post">*/}}
{{/*        <div><span>账号：</span><input type="text" id="email" name="username" placeholder="请输入账号"></div>*/}}
{{/*        <div><span>验证码：</span><input type="text" maxlength="6" name="captcha"> <input type="button" onclick="sandmail()" value="获取验证码"></div>*/}}
{{/*        <input type="submit" value="登录">*/}}
{{/*    </form>*/}}
</body>
<script>
    $(function () {
        $.get("/api/get_capt",function (res) {
            if(res.code===200){
                $("#hid").val(res.id)
                $("#captcha").attr("src",res.capt)
                console.log(res.id)
                console.log(res.capt)
            }else{
                alert(res.msg)
            }
        })
    })
    function sandmail() {
        var email = $("#email").val()
        if (email===''){
            alert("请填写账号")
            return
        }
        $.post("/sendmail",{email:email},function (res) {
            console.log(res)
        })
    }
</script>
</html>
{{end}}